@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300i,600i,700i|Raleway:600|Lora:400");

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body{
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

a{
  color:#dd6e6e;
  text-decoration-color: #dd6e6e;
  transition: 200ms ease-in-out;
}

a:hover{
  color:#e78f8f;
  text-decoration-color: #e78f8f;
  transition: 200ms ease-in-out;
}

.navbar-brand{
  font-family: "Lora", Helvetica, sans-serif;
}

h1, h3{
  font-family: "Lora", Helvetica, sans-serif;
}

h4{
  font-family: "Lora", Helvetica, sans-serif;
}

.navbar{
  min-height:80px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 400;
}

.nav-item a {
  text-transform: uppercase;
}

.photos img{
  margin: 30px auto;
  max-width:auto;
  max-height:720px;
}

.photos h1{
  margin-top:60px;
}

.main {
  height: auto;
  opacity:1;
  transition: 0.6s ease-in-out;
}

.cover-title{
  margin:20px 6vw;
  margin-top:80px;
  font-size:42pt;
}

.main .covers{
  margin:0 3vw;
  margin-bottom: 6vw;
  width: auto;
}

.covers a{
  margin:0.7vw;
  text-decoration: none;
  transform: translateY(0%);
  transition: 400ms ease-in-out;
}

.cover-name{
  opacity:0;
  margin-top:10px;
  font-size:12pt;
  font-family: Lora;
  color: #111;
  transition: 400ms ease-in-out;
}

.covers a:hover{
  transform: translateY(-5%);
  transition: 400ms ease-in-out;
}

.covers a:hover > .cover-name{
  opacity:1;
  transition: 400ms ease-in-out;
}

.covers img{
  width:16vw;
  height:16vw;
  box-shadow: 2px 2px 3px rgba(10, 10, 10, .2);
  transform: translateY(0%);
}


.main .covers .col{
  margin: 1em;
  height:40vh;
  background-color: #ccc;
}

.titles{
  position:absolute;
  color:#fff;
  z-index:99;
}

.titles a{
  color:#dd6e6e;
  text-decoration-color: #dd6e6e;
}

.titles p{
  margin:10px auto;
  padding: 0 5vw;
  text-shadow: 2px 2px 6px #111;
}

.titles h4{
  text-shadow: 2px 2px 6px #111;
}

.titles h1{
  font-size:42pt;
  text-shadow: 2px 2px 6px #111;
}

.first{

}

.bg-scene{
  overflow: hidden;
  height:55vh;
  width:100%;
}

.bg-vid{
  padding:0;
  z-index:-999;
  overflow: hidden;
}

.black-filter{
  background-color:#111;
  width:100%;
  height:55vh;
  position:absolute;
  top:80px;
  opacity:0.75;
}

.arrow {
  opacity:0.3;
}

footer{
  min-height:120px;
  margin-top:50px;
}

div .main .col-3 {
  background-color: grey;
}

.copyr{
  font-size:9pt;
}

/* ABOUT */

.about{

}

.concert{
  height:100%;
}

.concert .row{
  margin:2em 8em;
}

.col img{
  width:100%;
  height:auto;
}

.concert a{
  font-size:21pt;
  font-family: "Lora", Helvetica, sans-serif;
  color:#dd6e6e;
  text-decoration-color: #dd6e6e;
  transition: 200ms ease-in-out;
}

.concert a:hover{
  color:#e78f8f;
  text-decoration-color: #e78f8f;
  transition: 200ms ease-in-out;
}

.concert .description{
  margin: 0 auto;
  max-width:640px;
}

.credits{
  height:100%;
  margin-top:6em;
  max-width:640px;
  padding:0;
}

.credits .row{
  /* margin:2em 8em; */
}

.credits .profiles{
  height:100%;
  margin:25px 0;
}

.credits .profiles p{
  margin-top:5px;
  font-size:10pt;
}

.credits .profiles img{
  height:auto;
  width:8vw;
  max-width:100px;
}

.credits .profiles div{
  margin-right:15px;
}

.credits .col p{
  padding-top:15px;
  margin-bottom:30px;
}

.fade-out{
  opacity:0;
  transition: 0.6s ease-in-out;
}

.fade-in{
  opacity:1;
  transition: 0.6s ease-in-out;
}

.loading{
  font-size:9pt;
  background-color:#fff;
  padding: 0 10px;
  border-radius: 25px;
}

/*AUDIO*/
.audio-controls{
  position:fixed;
  bottom:30px;
  right:2vw;
}

audio {
  /* visibility:hidden; */
  position:fixed;
  bottom:15px;
  right: 15px;
  width:225px;
  animation: 500ms ease-out 0s 1 scaleFlower;
}

audio::-webkit-media-controls-timeline{
  display:none;
}
/*BARBA*/
.barba-leave-active,
.barba-enter-active {
  transition: opacity 600ms ease;
}

.barba-leave,
.barba-enter-to {
  opacity: 1;
}

.barba-enter,
.barba-leave-to {
  opacity: 0;
}

/*FLOWER*/

.flower .col {
  padding:0;
}
.flower .row{
  margin:auto 3vw;
}

.flower{
  margin-bottom:120px;
}

.petals-overlay{
  z-index:990;
  opacity:0.2;
  margin:0 auto;
  position:relative;
}

.petals-overlay img{
  position:absolute;
  width:1000px;
  height:auto;
  transform:translateY(-100%);
}

.emo div{
  padding:0 30px;
}

.flower p{
  font-size:10pt;
}

#lt {
  /* border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
}

#lt img{
  transform:scale(0);
  transform-origin: bottom right;
  animation: 1s ease-out 0s 1 scaleFlowerFix;
  animation-fill-mode: forwards;
}

#rt {
  /* border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
}

#rt img{
  transform:scale(0);
  transform-origin: bottom left;
  animation: 1s ease-out 200ms 1 scaleFlower;
  animation-fill-mode: forwards;
}

#lb {
  /* border-right: 1px solid #ccc;
  border-top: 1px solid #ccc; */
}

#lb img{
  transform:scale(0);
  transform-origin: top right;
  animation: 1s ease-out 400ms 1 scaleFlower;
  animation-fill-mode: forwards;
}

#rb {
  /* border-left: 1px solid #ccc;
  border-top: 1px solid #ccc; */
}

#rb img{
  transform:scale(0);
  transform-origin: top left;
  animation: 1s ease-out 600ms 1 scaleFlower;
  animation-fill-mode: forwards;
}

.emotion-1{
  margin-right:-120px;
  margin-left:80px;
  z-index:999;
}
.emotion-2{
  margin-right:120px;
  margin-left:-80px;
  z-index:999;
}
.emotion-3{
  margin-right:-120px;
  margin-left:80px;
  z-index:999;
}
.emotion-4{
  margin-right:80px;
  margin-left:-100px;
  z-index:999;
}

.dl{
  margin: 50px auto;
}

.dl a{
  font-size:21pt;
  font-family: "Lora", Helvetica, sans-serif;
  color:#dd6e6e;
  text-decoration-color: #dd6e6e;
  transition: 200ms ease-in-out;
}

.dl a:hover{
  color:#e78f8f;
  text-decoration-color: #e78f8f;
  transition: 200ms ease-in-out;
}

@keyframes scaleFlower {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleFlowerFix {
  0% {
    transform: scale(0) translateX(0px);
  }
  100% {
    transform: scale(0.72) translateX(2px);
  }
}
