@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300i,600i,700i|Raleway:600|Lora:400");

html {
  overflow-y: scroll;
}

body{
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.navbar-brand{
  font-family: "Lora", Helvetica, sans-serif;
}

h1, h3{
  font-family: "Lora", Helvetica, sans-serif;
}

h4{
  font-family: "Lora", Helvetica, sans-serif;
}

.navbar{
  min-height:80px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 400;
}

.nav-item a {
  text-transform: uppercase;
}

.photos img{
  margin: 30px auto;
  max-width:auto;
  max-height:720px;
}

.main {
  height: auto;
  opacity:1;
  transition: 0.6s ease-in-out;
}

.main .covers{
  margin:10vh 5vw;
  width: auto;
}

.covers a{
  margin:0.5vw;
}
.covers img{
  width:16vw;
  height:16vw;
}

.main .covers .col{
  margin: 1em;
  height:40vh;
  background-color: #ccc;
}

.titles p{
  margin:10px auto;
  padding: 0 5vw;
}

.arrow {
  opacity:0.3;
}

footer{
  min-height:120px;
  margin-top:50px;
}

div .main .col-3 {
  background-color: grey;
}

.copyr{
  font-size:9pt;
}

/* ABOUT */

.about{

}

.concert{
  height:100%;
}

.concert .row{
  margin:2em 8em;
}

.col img{
  width:100%;
  height:auto;
}

.concert a{
  font-size:21pt;
  font-family: "Lora", Helvetica, sans-serif;
  color:#dd6e6e;
  text-decoration-color: #dd6e6e;
  transition: 200ms ease-in-out;
}

.concert a:hover{
  color:#e78f8f;
  text-decoration-color: #e78f8f;
  transition: 200ms ease-in-out;
}

.concert .description{
  margin: 0 auto;
  max-width:640px;
}

.credits{
  height:100%;
  margin-top:6em;
  max-width:640px;
  padding:0;
}

.credits .row{
  /* margin:2em 8em; */
}

.credits .profiles{
  height:100%;
  margin:25px 0;
}

.credits .profiles img{
  height:auto;
  width:8vw;
  max-width:100px;
}

.credits .profiles div{
  margin-right:15px;
}

.credits .col p{
  padding-top:10px;
}

.fade-out{
  opacity:0;
  transition: 0.6s ease-in-out;
}

.fade-in{
  opacity:1;
  transition: 0.6s ease-in-out;
}

.loading{
  font-size:9pt;
}

/*AUDIO*/
.audio-controls{
  position:fixed;
  bottom:30px;
  right:2vw;
}

audio {
  visibility:hidden;
  position:fixed;
  bottom:20px;
  right: 20px;
}

/*BARBA*/
.barba-leave-active,
.barba-enter-active {
  transition: opacity 600ms ease;
}

.barba-leave,
.barba-enter-to {
  opacity: 1;
}

.barba-enter,
.barba-leave-to {
  opacity: 0;
}

/*FLOWER*/

.flower .col {
  padding:0;
}
.flower .row{
  margin:auto 3vw;
}

.flower{
  margin-bottom:120px;
}

.emotion-1{

}

.flower p{
  font-size:9pt;
}

#lt {
  border-right: 1px solid #111;
  border-bottom: 1px solid #111;
}

#lt img{
  transform:scale(0);
  transform-origin: bottom right;
  animation: 1s ease-out 0s 1 scaleFlower;
  animation-fill-mode: forwards;
}

#rt {
  border-left: 1px solid #111;
  border-bottom: 1px solid #111;
}

#rt img{
  transform:scale(0);
  transform-origin: bottom left;
  animation: 1s ease-out 200ms 1 scaleFlower;
  animation-fill-mode: forwards;
}

#lb {
  border-left: 1px solid #111;
  border-top: 1px solid #111;
}

#lb img{
  transform:scale(0);
  transform-origin: top left;
  animation: 1s ease-out 400ms 1 scaleFlower;
  animation-fill-mode: forwards;
}

#rb {
  border-right: 1px solid #111;
  border-top: 1px solid #111;
}

#rb img{
  transform:scale(0);
  transform-origin: top right;
  animation: 1s ease-out 600ms 1 scaleFlower;
  animation-fill-mode: forwards;
}

@keyframes scaleFlower {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
